/* CSS Document */

body {
	overflow:hidden;
}
.caja {


}
.menu {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
.menu ul {
	margin:0;
	padding:0;
	list-style-type:none;
	display:flex;
}
.menu ul li {
	flex-grow: 1;
	text-align:center;

}
.menu ul a {
	display:block;
	text-decoration:none;
	background-color:white;
	color:black;
	margin-left:0.2em;
}
.imagenes {
	width:2600px;
	height:250px;
	position:absolute;
	top:50px;
	left:0;
	transition:all 0.5s;
}
.imagenes2 {
	width:2600px;
	height:250px;
	position:absolute;
	top:360px;
	left:0;
	transition:all 0.5s;
}
.imagenes img {
	padding:3px;
}
.imagenes2 img {
	padding:3px;
}
.imagenes .off {opacity:0;}
.imagenes .on {opacity:1;}
.ventana {
	width:80vw;
	height:80vh;
	background-color:red;
	position:absolute;
	top:10vh;
	left:10vw;
	display:none;

}
video#bgvid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background: url(flores.jpg) no-repeat;
	background-size: cover;
}